.movie {
    width: 280px;
    float: left;
    margin: 15px;
    box-shadow: 5px 4px #888585;
    text-align: center;
    padding-bottom: 10px;

}

.movie img {
    max-width: 100%;
    
}
.movie button {
    background-color: blue;
    color: #fff;
    box-shadow: 2px 1px#888585;
    border: 0px;
}